<div class="loader-container" *ngIf="api.isLoading | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div layout="row" layout-align="center center">
  <div>
    <mat-form-field class="searchProduct">
      <mat-label>Search Product</mat-label>
      <input matInput name="username" type="text" [(ngModel)]="seachTerm">
    </mat-form-field>
  </div>
</div>

<div class="content">
  <div fxLayout="raw wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let product of products  | searchProduct: seachTerm">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</div>
