<mat-card>
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + product.url + ')', 'background-size': 'cover', 'display':'inline-block' }"></div>
    <mat-card-title>
      <a class="header">{{product.name}}</a>
    </mat-card-title>
    <mat-card-title>{{product.price}} $ </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="product.url">
  <mat-card-actions>
    <mat-select placeholder="Quantity" [(value)]="selectedQ">
      <mat-option *ngFor="let q of Quantity" [value]="q">
        {{q}}
      </mat-option>
    </mat-select>
    <div class="flex-spacer"></div>
    <button mat-raised-button color="primary" (click)="modifyProductInCart(selectedQ)">Modify Quantity</button>
    <button mat-raised-button color="Danger" (click)="removeProductFromCart(product)">Remove</button>
  </mat-card-actions>
</mat-card>
